.button {
    overflow: visible;

    margin: 0;
    padding: 0;

    text-decoration: none;
    letter-spacing: 0;

    color: #000000;
    border: none;
    outline: solid 1px black;
    height:20px;
    background: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:hover {
        color: #FF0000;
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }
}